body {
  margin: 0;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  align-items: center;
  background: url("back2.jpg") no-repeat;

  background-repeat: round;
  background-size: 100%;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 0.5fr 8fr 0.25fr;
  grid-template-areas:
    "logo logo logo logo"
    "head head head head"
    "menu menu menu menu"
    "cont cont cont cont"
    "foot foot foot foot";
}

.containerA {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr;
  grid-template-rows: auto 0.5fr 8fr 0.25fr;
  grid-template-areas:
    "head head head head"
    "logo menu menu menu"
    "logoA logoA logoA logoA"
    "foot foot foot foot";
}

.logoA {
  display: flex;
  align-items: center;
  font-size: 30px;
  grid-area: logoA;
  color: white;
  font-weight: bold;
  justify-content: center;
}

.logo {
  grid-area: logo;
  text-align: center;
}

.header {
  grid-area: head;
  background-color: rgba(180, 99, 49, 0.655);
  text-align: center;
}
.menu {
  grid-area: menu;
  background-color: rgba(247, 177, 101, 0.589);
  text-align: center;
}
.contenu {
  grid-area: cont;
  align-items: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.footer {
  grid-area: foot;
  background-color: rgba(180, 99, 49, 0.655);
  text-align: center;
}

table {
  color: rgba(180, 99, 49, 0.655);
  border-collapse: separate;
  border: 1px solid;
  border-radius: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-weight: bolder;
}

.tabHead li {
  font-weight: lighter;
}

th {
  color: black;
  font-weight: bold;
}

form {
  border-radius: 2px;
}

.contenu h3 {
  text-align: center;
}

#yes:hover {
  font-size: 50px;
}
#yes {
  color: white;
}
.prix {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;
}

.contact {
  grid-area: cont;
  align-items: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: x-large;
}
